<div class="navContainer">

    <div class="img">
        <img src="~/Content/Images/Logo.jpg" width="288" />
    </div>
    <ul>
        <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
        <li class="nav_level1">@Html.ActionLink("About", "about", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Kontakt", "contact", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Mannschaft", "team", "home")</li>
        <li class="nav_level1" id="first" style="float:right">@Html.ActionLink("Login", "login", "user")</li>
        <li class="nav_level1" style="float:right">@Html.ActionLink("Registration", "registration", "user")</li>

    </ul>

</div>